{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'product_view' product.pk %}">Back</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить продукт "{{ product.name }}"?</h1>
    <form action="{% url "product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Yes"></p>
        <p><a href="{% url 'product_view' product.pk %}">Back</a></p>
    </form>
    <h3>Descriptions: </h3>
    <p>{{ product.description }}</p>
{% endblock %}